body{
  background-color: navajowhite;
  display: flex;
  flex-flow: column nowrap;
}
  
  /* Production Page */
  #salmonPic{
      background-color: cornsilk;
  }
  
  img{
      margin-left: 20%; 
      margin-right: 20%;
  }
  
  li{
      list-style: none;
      float: right;
      font-size: 30px;
  }
  
  h2{
      text-align: center;
  }
  
  h3{
      font-family: 'Crete Round', serif;
      font-size: 200%
  }
  h5{
      margin: 0px;
      font-family: 'Crete Round', serif;
  }
  
  .storeInfo{
      display: grid;
      grid-template-columns: repeat(2, 50%);
  }
  
  #storeHours{
      border-right: 2px black dashed;
      
  }
  
  #storeHours img{
      width: 70%;
      margin-top: 7%;
  }
  
  #storePhone{
      margin-left: 5%;
      margin-right: 5%;
  }
  
  #storePhone img{
      width: 60%;
      margin-top: 5%;
  }
  
  
  #locationMaps{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 10%;
  }
  
  p{
      margin: 0px;
      font-family: 'Arapey', serif;
  }
  
  /* Sales Page */
  #cookieStoreTable{
      border-spacing: 15px;
      font-size: 30px;
  }
  
  legend{
      font-size: 300%;
  }
  
  label{
      font-size: 200%;
  }
  
  input{
      padding: 5px;
  }
  
  button{
      background-color: lightblue;
      width: 33%;
      margin-top: 3%;
      margin-left: 30%;
      font-size: 200%;
  }