<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- url for is a function looking for the static directory and the file name -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='./css/style.css') }}">
  </head>
  <body>
    <a href="/sales">Sales</a>
    <h1>The Salmon Cookie Shop</h1>
    <img id=salmonPic src="https://github.com/DevStation-COCC/bend-201d2/blob/master/class-06-dom-objects-domain_modeling/lab/assets/salmon.png?raw=true" alt="Pictue of Salmon"/>
    <h4>Welcome, {{ name }}! Come and get your Salmon Cookies!!</h4>
    <article class= "storeInfo">
        <section id= "storeHours">
            <h3>Store Hours and Contact Info</h3>
            <h5>Hours</h5>
            <p>Monday: Closed</p>
            <p>Tuesday - Saturday: 6am-8pm</p>
            <p>Sunday: Closed</p>
        </section>
        <section id= "storePhone" >
            <h3>Phone Number and E-mail</h3>
            <h5>Phone Number</h5>
            <p>(555) 123- 4567</p>
        </section>
        <section id ="locationMaps">
            <figure class= "storeMap" >
                <h3>1st and Pike Location</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.7592093440226!2d-122.34262962006504!3d47.61137157928685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906ab334ae90af%3A0x272698d6c510d419!2s1902+2nd+Ave%2C+Seattle%2C+WA+98101!5e0!3m2!1sen!2sus!4v1553231716431" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </figure>
            <figure class= "storeMap" >
                <h3>SeaTac Airport Location</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10792.776809563224!2d-122.31046045638269!3d47.4471537296549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490435542eafefd%3A0x99d3d9c4c7dc37b7!2sSeattle-Tacoma+International+Airport!5e0!3m2!1sen!2sus!4v1554699089901!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </figure>
            <figure class= "storeMap" >
                <h3>Seattle Center Location</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.2150481267267!2d-122.35392762024745!3d47.62195089501307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54901545d5e902b1%3A0x809dba0423e59752!2sSeattle+Center!5e0!3m2!1sen!2sus!4v1554699125706!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </figure>
            <figure class= "storeMap" >
                <h3>Capitol Hill Location</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21511.27529355995!2d-122.33327877993464!3d47.627892147124214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490152857c86161%3A0xef487dc6bbc25185!2sCapitol+Hill%2C+Seattle%2C+WA!5e0!3m2!1sen!2sus!4v1554699152195!5m2!1sen!2sus" wwidth="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </figure>
            <figure class= "storeMap" >
                <h3>Alki Location</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43064.48804845053!2d-122.43457197930992!3d47.57692259896642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54904089f02ed333%3A0x9aed4b8c925151c0!2sAlki%2C+Seattle%2C+WA+98116!5e0!3m2!1sen!2sus!4v1554699176590!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </figure>
    </section>   
    </article>
  </body>
</html>